<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12" id="header">
                <h1>Website</h1>
            </div> 
        </div>

        <div class="row">
            <div class="col-12" id="menu">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Products</a></li>
                </ul>
            </div>   
        </div>

        <div class="row">
            <div class="col-md-8" id="content">
                <div class="sub-heading">
                    <h2>Sub Heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet facilis necessitatibus nesciunt, cumque ad recusandae. Doloribus, obcaecati facilis culpa, ipsam molestiae expedita praesentium debitis placeat quidem maxime aspernatur possimus, cumque earum. Ut reprehenderit fugit inventore enim saepe commodi vitae voluptates minus id, recusandae doloremque. Numquam quo veritatis recusandae deserunt repudiandae esse atque dolorem quas blanditiis accusantium ex, laborum ipsum necessitatibus harum est corrupti voluptate perferendis fugit itaque aperiam magnam! Et ex obcaecati ea optio magnam explicabo eligendi harum deleniti dolorem ducimus soluta tempora possimus consectetur facilis enim id non illo necessitatibus inventore cupiditate nisi, porro nemo dolore iusto. Sint, quasi!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet facilis necessitatibus nesciunt, cumque ad recusandae. Doloribus, obcaecati facilis culpa, ipsam molestiae expedita praesentium debitis placeat quidem maxime aspernatur possimus, cumque earum. Ut reprehenderit fugit inventore enim saepe commodi vitae voluptates minus id, recusandae doloremque. Numquam quo veritatis recusandae deserunt repudiandae esse atque dolorem quas blanditiis accusantium ex, laborum ipsum necessitatibus harum est corrupti voluptate perferendis fugit itaque aperiam magnam! Et ex obcaecati ea optio magnam explicabo eligendi harum deleniti dolorem ducimus soluta tempora possimus consectetur facilis enim id non illo necessitatibus inventore cupiditate nisi, porro nemo dolore iusto. Sint, quasi!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet facilis necessitatibus nesciunt, cumque ad recusandae. Doloribus, obcaecati facilis culpa, ipsam molestiae expedita praesentium debitis placeat quidem maxime aspernatur possimus, cumque earum. Ut reprehenderit fugit inventore enim saepe commodi vitae voluptates minus id, recusandae doloremque. Numquam quo veritatis recusandae deserunt repudiandae esse atque dolorem quas blanditiis accusantium ex, laborum ipsum necessitatibus harum est corrupti voluptate perferendis fugit itaque aperiam magnam! Et ex obcaecati ea optio magnam explicabo eligendi harum deleniti dolorem ducimus soluta tempora possimus consectetur facilis enim id non illo necessitatibus inventore cupiditate nisi, porro nemo dolore iusto. Sint, quasi!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet facilis necessitatibus nesciunt, cumque ad recusandae. Doloribus, obcaecati facilis culpa, ipsam molestiae expedita praesentium debitis placeat quidem maxime aspernatur possimus, cumque earum. Ut reprehenderit fugit inventore enim saepe commodi vitae voluptates minus id, recusandae doloremque. Numquam quo veritatis recusandae deserunt repudiandae esse atque dolorem quas blanditiis accusantium ex, laborum ipsum necessitatibus harum est corrupti voluptate perferendis fugit itaque aperiam magnam! Et ex obcaecati ea optio magnam explicabo eligendi harum deleniti dolorem ducimus soluta tempora possimus consectetur facilis enim id non illo necessitatibus inventore cupiditate nisi, porro nemo dolore iusto. Sint, quasi!</p>

                </div>
            </div> 
            <div class="col-md-4" id="sidebar">
                <h2>Gallery</h2>
                <div class="gallery">
                    <img src="{% static 'images/image1.jpg' %}" alt="Image 1">
                    <img src="{% static 'images/image2.jpg' %}" alt="Image 2">
                    <img src="{% static 'images/image3.jpg' %}" alt="Image 3">
                    <!-- Add more images as needed -->
                </div>
            </div>
        </div>

        <div class="row" id="footer">
            <div class="col-12">
                &copy; Waqas Copyright 2024
            </div> 
        </div>
    </div>
</body>
</html>
